<!--Dropdown que lista materias-->
{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row">
        <h1>Listado de materias:</h1>
    </div>
    <div class="row">
        <div class="table table-hover mt-2">
            <tbody>
                <ul>Programación 2</ul>
                <ul>Práctica 1</ul>
                <ul>Matemática Aplicada</ul>
                <ul>Modelado de Sistemas</ul>
                <ul>Sistemas Operativos</ul>
                <ul>Base de Datos</ul>
            </tbody>
            
        </div>
    </div>
</div>
{% endblock content %}ent %}
