{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row">
        <h1>Listado de oficinas:</h1>
    </div>
        
    <div class="row">
        <div class="table table-hover mt-2">
            <tbody>
                <tr>
                    <ul>Limpieza</ul>
                    <ul>Administrativo</ul>
                    <ul>Tesorería</ul>
                    <ul>DIrección</ul>
                </tr>
            </tbody>
        </div>
    </div>
</div>
{% endblock content %}
