<!--Dropdown que lista materias-->

{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <h1>Listado de materias</h1>
    </div>
    <div class="row">
        <ul>
            <h3>Programación 2</h3>
            <h3>Práctica 1</h3>
            <h3>Matemática Aplicada</h3>
            <h3>Modelado de Sistemas</h3>
            <h3>Sistemas Operativos</h3>
            <h3>Base de Datos</h3>
        </ul>
    </div>
</div>
{% endblock content %}